version: "3"
services:
  kafka:
    image: "spotify/kafka"
    ports:
     - "9092:9092"
     - "2181:2181"
    hostname: kafka_broker
    environment:
     - KAFKA_ADVERTISED_HOST_NAME=kafka
     - KAFKA_ZOOKEEPER_CONNECT=localhost:2181
     - KAFKA_ADVERTISED_PORT=9092 